body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.flexible-container{
    display: flex;
    margin: 7%;
}
.half-width{
    width: 50%;
}
.one{
    font-size: 55px;
    font-weight: 700;
    padding-top: 100px;;
}
h1 span{
    color: orange;
    size: 50px;;
}
.half-width img{
    size: 100%;
}
a{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 20px 50px;
    border-radius: 40px;
    color: white;
    font-size: 20px;
}
.about-us-area{
    background-image: url(images/shapes/7.png);
    /* background-repeat: no-repeat; */
    display: flex;
    background-size: cover;
    margin-bottom: 100px;
}
.about-me-img{
    height: 500px;
    margin-left: 240px;
    margin-top: 60px;
}
.about-me{
    padding-top: 100px;;
}
.my-recipies-area{
    padding-bottom: 20px;
    text-align: center;
}
.three-box{
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
}
.one-third{
    box-shadow: 10px 10px 50px hsl(0, 7%, 83%);
    padding: 20px;
    border-radius: 20px;
    margin-left: 3%;
    margin-right: 2%;
    height: 500px;
}
.one-third img{
    height: 280px;
    width: 350px;
}
.follow-area{
    box-shadow: 10px 10px 50px hsl(0, 7%, 83%);
    
    border-radius: 20px;
    height: 200px;
}
.youtube, .instagram, .dribbble{
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    /* box-shadow: 5px 5px 50px hsla(0, 33%, 1%, 0.89); */
}
.youtube h1, .instagram h1, .dribbble h1{
    font-size: 50px;
    margin-bottom: 0px;
}
.youtube p, .instagram p, .dribbble p{
    margin-top: 0px;
}
